*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px; 
}
.margen{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 90px;

    
    display: flex;
    flex-direction: column;
}
.div_1{
 
    
    width: 49rem;
    height: 50rem;
    background-color: #FE7E4F;
    border: 1px solid black;
    border-radius: 7.5em;
}
.div_2{

    
    width: 45rem;
    height: 24rem;
    background-color: #FE7E4F;
    border: 1px solid black;
    border-radius: 7.5rem;
    margin-top: 6.5rem;
    align-self: flex-end;
    
}
.div_3{

    
    width: 45rem;
    height: 47rem;
    background-color: #FE7E4F;
    border: 1px solid black;
    border-radius: 7.5rem;
    margin:auto;
    margin-top: 5rem;
    
}
.div_4{
 
    
    width: 45rem;
    height: 10rem;
    background-color: #FE7E4F;
    border: 1px solid black;
    border-radius: 7.5rem;
    margin-top: 7rem;
    align-self: flex-end;
}
.div_5{
    height: 1rem;
    background-color: black;
}
.circulos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.div_circulo{
    font-size: 10px;
    
    width: 13rem;
    height: 13rem;
    margin-top: 1rem;
    border-radius: 50%;
    background: #001934;
}
